html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Graphik LCG';
    Font-size: 20px;
    line-height: 30px;
    color: #000000;
}

a {
    text-decoration: none;
}

.primery-color {
    background-color: #FF9C7D;
    width: 1440px;
    margin: 0 auto;
}

.secondary-color {
    background-color: #FFF8E4;
    width: 1440px;
    margin: 0 auto;
}

.light-grayish {
    background-color: #c9e8f2;
    width: 1440px;
    margin: 0 auto;
}

.soft-orange {
    background-color: #dabc98;
    width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}


header {
    border-bottom: 1px solid #CCCCCC;
    padding: 38px 0;
    width: 1440px;
    margin: 0 auto;
}

header .header-navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-navigations nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-navigations nav a {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

header .header-navigations nav a:not(:last-child) {
    margin-right: 50px;
}

header .header-navigations nav a img {
    width: 130px;
    height: 28px;
}

header .login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .login-buttons .log {
    font-size: 16px;
    line-height: 45px;
    font-weight: 600;
    padding: 0px 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    width: 120px;
}

header .login-buttons .try-it {
    font-size: 16px;
    line-height: 45px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #FF6336;
    background-color: #FF6336;
    padding: 0px 18px;
    width: 120px;
}

main .benefits {
    padding: 130px 0 175px 0;
}

main .benefits .box-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .benefits .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

main .benefits .content h1 {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
}

main .benefits .content p {
    font-size: 25px;
    line-height: 35px;
    width: 471px;
    margin: 50px 0;
}

main .benefits .content a.try-it {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    border: 1px solid #FF6336;
    background-color: #FF6336;
    padding: 0px 40px;
    margin-right: 10px;
    width: 160px;
    height: 60px;
}

main .benefits .content a.book-it {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #000000;
    padding: 0px 28px;
    width: 160px;
    height: 60px;
}

main .benefits .content span {
    font-size: 15px;
    line-height: 25px;
    margin-top: 24px;
}

main .benefits .accelerate-picture {
    width: 759px;
}


main .partners {
    padding: 110px 0;
}

main .partners h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    width: 720px;
    margin: 0 auto;
}

main .partners .partners-logo {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .partners a img {
    max-height: 60px;
}

main .works {
    padding-top: 90px;
    padding-bottom: 150px;
}


main .works .showcase {
    display: flex;
    flex-direction: column;
}

main .works .showcase .case {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .works .showcase .case:not(:last-child) {
    margin-bottom: 250px;
}

main .works .showcase .case .description h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    width: 520px;
}

main .works .showcase .case .description p {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
    width: 450px;
}

main .works .showcase .case .description a {
    font-weight: 600;
    line-height: 30px;
}

main .usability {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}

main .usability h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 80px;
}

main .usability .localize-with {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .usability .localize-with .options {
    margin-bottom: 70px;
}

main .usability .localize-with .options img {
    width: 160px;
    height: 120px;
}

main .usability .localize-with .options h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    margin: 23px 0;
}

main .usability .localize-with .options p {
    font-size: 18px;
    line-height: 25px;
    max-width: 330px;
    margin: 25px 0;
}

main .boost-team {
    padding: 160px;
}

main .boost-team h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 75px;
}

main .boost-team .how-boost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

main .boost-team .how-boost .options img {
    max-width: 180px;
    max-height: 201px;
}

main .boost-team .how-boost .options h3 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

main .boost-team .how-boost .options p {
    max-width: 410px;
    margin-bottom: 25px;
}

main .boost-team .how-boost .options a {
    text-decoration: underline;
}

main .quote {
    padding: 60px 0 100px 0;
}

main .quote .content {
    display: flex;
    justify-content: space-between;
}

main .quote .content .photo img {
    width: 300px;
    height: 300px;
}

main .quote .content .edward-quote p {
    max-width: 920px;
    font-size: 30px;
    line-height: 40px;
}

main .quote .content .edward-quote p.sign {
    font-size: 15px;
    line-height: 25px;
    margin-top: 23px;
}

main .quote .content .edward-quote img {
    width: 115px;
    height: 25px;
}


main .reward {
    padding: 90px 0;
}

main .reward .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .reward .content .cake img {
    max-width: 176px;
    max-height: 154px;
}

main .reward .content .caption h2 {
    max-width: 465px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

main .reward .content .line {
    border: 1px solid black;
    height: 168px;
    margin-left: 20px;
}

main .reward .content .partner p {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
}

main .reward .content .partner .stars {
    margin-top: 15px;
    margin-bottom: 5px;
}

main .integrate {
    padding: 165px 0;
    text-align: center;
}

main .integrate h2 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
    width: 790px;
    margin: 0 auto;
}

main .integrate p {
    font-size: 25px;
    line-height: 35px;
    max-width: 540px;
    margin: 0 auto;
}

main .integrate img {
    max-width: 1023px;
    max-height: 445px;
}

main .integrate a {
    display: block;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    border: 1px solid #FF6336;
    background-color: #FF6336;
    padding: 0 20px;
    width: 193px;
    margin: 0 auto;
}

main .advertising {
    padding: 140px 0;
    text-align: center;
}

main .advertising h2 {
    font-size: 65px;
    line-height: 75px;
    font-weight: 600;
    max-width: 790px;
    margin: 0 auto;
}

main .advertising p {
    max-width: 440px;
    margin: 30px auto 60px auto;
}

main .advertising a {
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 20px 40px;
    width: 160px;
    background-color: #000000;
    border: 1px solid #000000;
    margin: 0 auto;
}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer .content .study {
    max-width: 300px;
    padding: 95px 0;
}

footer .content .study h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 25px;
}

footer .content .study img {
    max-width: 300px;
    max-height: 300px;
}

footer .content .study img.logo {
    max-width: 81px;
    max-height: 33px;
}

footer .content .study p {
    max-width: 290px;
    margin: 15px 0;
}

footer .content .study a {
    font-weight: 600;
    color: #000000;
}

footer .content ul {}

footer .content ul li {}

footer .content ul li a {
    color: #000000;
    font-size: 15px;
    line-height: 15px;
}

footer .content ul li a.main {
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer .footer-rights {}

footer .footer-rights .footer-sign {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 50px 0;
}

footer .footer-rights .footer-sign .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .footer-rights .footer-sign .logo img {
    max-width: 90px;
    max-height: 22px;
}

footer .footer-rights .footer-sign .logo p {
    max-width: 300px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 15px;

}

footer .footer-rights .footer-sign .rights p {
    font-size: 12px;
    line-height: 15px;
    margin-right: 70px;
}

